#button {
    background-color: #58B2FE;
    color: #FAF9F6;
    border: none;
    
}

@media only screen and (min-width: 375px) {
    /* Styles for iPhone SE 2020 */
    #button {
        font-weight: 700;
        width: 40vw;
        height: 7vh;
        border-radius: 15px;
    }
    
}
  
@media only screen and (min-width: 414px) {
    /* Styles for iPhone 15 */
    button {
        width: 40vw;
        height: 4vh;
        border-radius: 15px;
    }

}
  
@media only screen and (min-width: 430px) {
    /* Styles for iPhone 15 Pro Max */
    button {
        width: 40vw;
        height: 4vh;
        border-radius: 15px;
    }

}
  