button {
    border: none;
    background: none;
    width: auto;
    height: auto;
}




@media only screen and (min-width: 375px) {
    /* Styles for iPhone SE 2020 */
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-text  {
        padding: auto 5px;
    }

    .hero-conatiner {
        display: flex;
        flex-direction: column;
    }

    .language-buttons {
        display: flex;
        justify-content: center;
        gap: 5vw;
        align-items: center;
        flex-wrap: wrap;
        margin: 20px 0;
    }
    
  
    .language-buttons button img {
        width: 32px;
        height: 32px;
    }

    .language-flag {
        width: 32px;
        height: 32px;   
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .hero-image img {
        width: 80vw;
        height: 60vh;
    }

    .hero-writings {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
   
    }

    .welcome-text {
        font-size: 1.5em;
        font-weight: 700;
    }

    .hero-description {
        color: #AEAEAE;
        font-size: 1em;
        font-weight: 600;
        margin: auto 1rem;
    }

    .custom-button {
        width: 50vw;
    }

    .modal-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;
    }

    .modal-row {
        display: flex;
        gap: 4vw;
        direction: ltr;
    }

    .modal-row a img {
        width: 24px;
        height: 24px;
    }

    #home-icon {
        width: 24px;
        height: 24px;
    }
}
  
@media only screen and (min-width: 414px) {
    /* Styles for iPhone 15 */
    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 20px 0;
    }
    

    .language-buttons {
        width: 10vw;
        display: flex;
        gap: 2vw;
    }
    .language-buttons button img {
        width: 32px;
        height: 32px;
    }

    .language-flag {
        width: 32px;
        height: 32px;   
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero-image img {
        width: 80vw;
        height: 60vh;
    }

    .hero-writings {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .welcome-text {
        font-size: 2em;
        font-weight: 700;
    }

    .hero-description {
        color: #AEAEAE;
        font-size: 1em;
        font-weight: 600;
    }

    .custom-button {
        width: 50vw;
    }


}
  
@media only screen and (min-width: 430px) {
    /* Styles for iPhone 15 Pro Max */
    .hero-conatiner {
        display: flex;
        flex-direction: column;
    }

    .language-buttons {
        width: 10vw;
        display: flex;
    }
    .language-buttons button img {
        width: 32px;
        height: 32px;
    }

    .language-flag {
        width: 32px;
        height: 32px;   
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero-image img {
        width: 80vw;
        height: 60vh;
    }

    .welcome-text {
        font-size: 2em;
        font-weight: 700;
    }

    .hero-description {
        color: #AEAEAE;
        font-size: 1em;
        font-weight: 600;
    }

    .custom-button {
        width: 50vw;
    }

}
  

@media only screen and (min-width: 1366px) {
    .hero-content {
        padding-bottom: 100px;
    }
  
    .language-buttons {
        width: auto;
        display: flex;
        gap: 2vw;
    }

    .language-buttons button img {
        width: 32px;
        height: 32px;
    }

    .language-flag {
        width: 32px;
        height: 32px;
    }

    .hero-image img {
        width: 50vw;
        height: 50vh;
    }

    .hero-writings {
        display: flex;
        flex-direction: column;
        gap: 8vh;
    }

    .welcome-text {
        font-size: 3em;
        font-weight: 700;
    }

    .hero-description {
        color: #AEAEAE;
        font-size: 1em;
    }

    .row {
        display: flex;
        align-items: start;
        justify-content: center;
    }

    .col.writings {
        transform: translateY(12vh);
    }

    .hero-description {
        font-weight: 600;
        line-height: 7.5vh;
    }

    .hero-description {
        margin: 5vh auto;
    }

    .custom-button {
        width: 20vw;
    }

    .modal-row {
        display: flex;
        gap: 1vw;
        direction: ltr;
    }

    .modal-row a img {
        width: 24px;
        height: 24px;
    }

    #home-icon {
        width: 24px;
        height: 24px;
    }

    .modal-header-centered {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        text-align: center;
        width: 100%;
    }
    
    .modal-header-centered .close {
        position: absolute;
    }
    
}