.navbar {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    margin: 0;
}

.navbar-item.resume-icons {
    display: flex;
    align-items: center;
}



/*  */



@media only screen and (min-width: 375px) {
    /* Styles for iPhone SE 2020 */
    .navbar {
        padding: 4vh 3vw;
    }

    .logo {
        font-size: 1.2em;
        font-weight: 800;
    }

    .navbar-item.resume-icons {
        gap: 20px;
        
    }

    #github-icon {
        width: 32px;
        height: 32px;
    }

    #quera-icon {
        width: 28px;
        height: 28px;
    }

}
  
@media only screen and (min-width: 414px) {
    /* Styles for iPhone 15 */
 

    #github-icon {
        width: 40px;
        height: 40px;
    }

    #quera-icon {
        width: 36px;
        height: 36px;
    }

}
  
@media only screen and (min-width: 430px) {
    /* Styles for iPhone 15 Pro Max */


}
  


@media only screen and (min-width: 1366px) {
    .navbar {
        padding: 3vh 6vw;
    }

    .logo {
        font-size: 1.5em;
        font-weight: 800;
    }

    

    #github-icon {
        width: 40px;
        height: 40px;
    }

    #quera-icon {
        width: 36px;
        height: 36px;
    }

    
}