.skills-list {
    
}

.skills-list ul{
    list-style-type: none;
}

.container-item {

}


@media only screen and (min-width: 375px) {
    /* Styles for iPhone SE 2020 */

    .section-title {
        font-size: 1.5em;
        text-decoration: underline;
        text-decoration-color: #58B2FE;
        text-underline-offset: 1.5vh;
    }

  }
  
  @media only screen and (min-width: 414px) {
    /* Styles for iPhone 15 */
    .container-item {

    }
  }
  
  @media only screen and (min-width: 430px) {
    /* Styles for iPhone 15 Pro Max */
    .container-item {

    }
    
  
  }
  