.skills-list {
    
}

.skills-list ul{
    list-style-type: none;
}

.container-item {

}


@media only screen and (min-width: 375px) {
    /* Styles for iPhone SE 2020 */

    

  }
  
  @media only screen and (min-width: 414px) {
    /* Styles for iPhone 15 */
    .container-item {

    }
  }
  
  @media only screen and (min-width: 430px) {
    /* Styles for iPhone 15 Pro Max */
    .container-item {

    }
    
  
  }
  
  @media only screen and (min-width: 1366px)  {
    .section-container {
      margin: 50px 10px; /* Same as your .primary-skills > .container */
  }
  
  .section-title {
      font-size: 1.5em;
      font-weight: 600;
      text-decoration: underline;
      text-decoration-color: #58B2FE;

  }
  
  .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
      gap: 30px; /* Adds spacing between the items */
  }
  
  .item {
      padding: 20px;
      text-align: center;
      display: flex;
      flex-direction: column;
  }
  
  .skill-title {
      font-size: 1.2em;
      font-weight: 800;
  }
  
  .skills-exp {
      font-size: 0.9em;
      font-weight: 800;
      color: #AEAEAE;
  }
  
    
  }
  