.skills-list {
    
}

.skills-list ul{
    list-style-type: none;
}

.container-item {

}


@media only screen and (min-width: 375px) {
    /* Styles for iPhone SE 2020 */

    

  }
  
  @media only screen and (min-width: 414px) {
    /* Styles for iPhone 15 */
    .container-item {

    }
  }
  
  @media only screen and (min-width: 430px) {
    /* Styles for iPhone 15 Pro Max */
    .container-item {

    }
    
  
  }
  
  @media only screen and (min-width: 1366px)  {
    .primary-skills > .container {
      margin: 50px 10px;
    }

    .section-title {
      display: block;
      text-align: center;
      text-decoration: underline;
      text-decoration-color: #58B2FE;
      text-underline-offset: 10px;
  }
  

    .section-title, #project-card-title {
      font-size: 1.5em;
      font-weight: 600;
    }
    
    #project-card-title {
      font-size: 1.3em;
      font-weight: 800;
      color: #58B2FE;
    }
    
    
    
    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px; 
    }
    
    .item {
      padding: 20px;
      text-align: center;
      display: flex;
      flex-direction: column;
    }
    
    .skill-title {
      font-size: 1.2em;
      font-weight: 800;
    }
    
    
    .skills-exp, #project-card-ingreds {
      font-size: 0.9em;
      font-weight: 800;
      width: auto;
      color: #AEAEAE;
    }
  }
  