@media only screen and (min-width: 375px) {
    /* Styles for iPhone SE 2020 */
    .section-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-body img {
        width: 80vw;
        height: 45vh;
        border-radius: 15px;
    }

    .section-item {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .skill-explain {
        font-size: 1em;
    }

}
  
@media only screen and (min-width: 414px) {
    /* Styles for iPhone 15 */
   
}
  
@media only screen and (min-width: 430px) {
    /* Styles for iPhone 15 Pro Max */
    
}
  