.section-content img {
    border-radius: 15px;
}


@media only screen and (min-width: 375px) {
    /* Styles for iPhone SE 2020 */
    .section-content {
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }

    .section-content img {
        border-radius: 15px;
    }

    .project-title {
        color: #58B2FE;
        font-size: 1.4em;
        font-weight: 700;
    }

    .project-ingreds {
        color: #AEAEAE;
        font-size: 0.8em;
        font-weight: 500;
    }

    .project-date {
        color: #A3F88F;
        font-size: 1em;
        font-weight: 700;
    }
}
  
@media only screen and (min-width: 414px) {
    /* Styles for iPhone 15 */
   
}
  
@media only screen and (min-width: 430px) {
    /* Styles for iPhone 15 Pro Max */
    
}
  

@media only screen and (min-width: 1366px)  {
    
    .primary-skills > .container {
        margin: 50px 10px;
      }
      
      .section-title {
        font-size: 1.5em;
        font-weight: 600;
        text-decoration: underline;
        text-decoration-color: #58B2FE;
        text-underline-offset: 10px;
      }
      
      .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
      }
      
      .item {
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
      }
      
      .skill-title {
        font-size: 1.2em;
        font-weight: 800;
      }
      
      .skills-exp {
        font-size: 0.9em;
        font-weight: 800;
        color: #AEAEAE;
      }
      
    
}
