


@media only screen and (min-width: 375px) {
    /* Styles for iPhone SE 2020 */
    .resume-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3vw;
    }

    .resume-icons a img {
        width: 10vw;
        height: 10vh;
    }   

    #github {
        width: 12vw;
        height: 12vh;
    }
}
  
@media only screen and (min-width: 414px) {
    /* Styles for iPhone 15 */
    .resume-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3vw;
    }

    .resume-icons a img {
        width: 10vw;
        height: 5vh;
        border-radius: 50%;
    }   

}
  
@media only screen and (min-width: 430px) {
    /* Styles for iPhone 15 Pro Max */
    .resume-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3vw;
    }

    .resume-icons a img {
        width: 10vw;
        height: 5vh;
        border-radius: 50%;
    }  
}
  